In [1]:
# Import the necessary libraries
import pandas as pd
import gmplot
# For improved table display in the notebook
from IPython.display import display

raw_data = pd.read_csv("geotagged/stream_datatest14oktober2017.csv")

# Success! Display the first 5 rows of the dataset
display(raw_data.head(n=5))
display(raw_data.info())

,id,datecreated,username,text,lang,location,lat,lng
0,918946229207232512,Fri Oct 13 21:07:08 +0000 2017,PHarmonni,Full -&gt; https://t.co/z52kPQm0kX üé¨ Sinopsis ...,in,-,-7.145914,111.886947
1,918946373306904576,Fri Oct 13 21:07:43 +0000 2017,CHICKSTOREinc,. SHORT CARGO ‚óè CODE: Just&amp;Co White ‚óè PRIC...,in,-,-6.193907,106.764772
2,918946532904271873,Fri Oct 13 21:08:21 +0000 2017,dimanamacetid,[04:05] #PASURUAN Pasar Ngopak #LANCAR #TMC,in,-,-7.699106,112.975462
3,918946534678515712,Fri Oct 13 21:08:21 +0000 2017,dimanamacetid,[04:07] #JAKARTA Tol Ulujami - Pd. Ranji - Ser...,in,-,-6.241682,106.758682
4,918946582711754752,Fri Oct 13 21:08:33 +0000 2017,CHICKSTOREinc,. SHORT CARGO ‚óè CODE: Just&amp;Co Grey Old ‚óè P...,in,-,-6.193907,106.764772

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12065 entries, 0 to 12064
Data columns (total 8 columns):
id             12065 non-null int64
datecreated    12065 non-null object
username       12065 non-null object
text           12065 non-null object
lang           12065 non-null object
location       12065 non-null object
lat            12065 non-null float64
lng            12065 non-null float64
dtypes: float64(2), int64(1), object(5)
memory usage: 754.1+ KB

None